<!--Simple section -> show Home page with no logic-->
<div class="home">
    <div class="left">

            <h1>Welcome to Ella's Car Rental Website</h1>


            <p class="aboutCompany">
                Ella's Car Rental Company &copy; is the world's smallest car rental corporation, 
                <br>active in just one country and operating over 5 branches overall.
                <br>The global scope of reservations is currently about 100 per annum.
                <br>The Company was founded in 1985, and ever since it is a proud Israeli franchise.
                <br>The Company is owned by Ella's Cars Ltd &copy;. 
                <br>Importer of a variety of sport, family and super cars from all over the world.
                <br>Our vision is to lead our industry by defining service excellence and building unmatched customer loyalty.
                <br>We hope you will enjoy our services and most importantly - our CARS!
            </p>
            <div class="about">
                <img src="/assets/images/ella.jpg" class="ellaImg"> 
                <p class="aboutElla">
                    Ella Lin, our CEO since the beggining, brings relentless drive for innovation and passion
                    <br>for personalised car rentals to her role.
                    <br>She built Ella's Car Rental Company &copy; from the ground up 
                    <br>and has stayed with the company ever since. 
                    <br>She is fascinated with our company because: "we can create significant value for society
                    <br> by improving the quality of life of millions of people and their families."
                    <br>Ella is a mother of 3 boys, two dogs and married to her beloved husband Yotam. 
                </p>
            </div>

    </div> 
    <div class="right">
        <img src="/assets/images/mainCar.png" class="car"> 
    </div>
</div>  