
  
.home {
background-color:coral;
height: 94vh; 
}

.left {
width: 50%;
float: left;
height: 100%;
position: relative;
}

.contact {
margin-top: 2%;
color: #ffffff; 
font-family: 'Lato', sans-serif; 
font-size: 30px; 
font-weight: 300; 
line-height: 50px;  
margin-left: 4%;
}
  
h1 { 
color: #ffffff; 
font-family: 'Lato', sans-serif;  
font-size: 54px; 
font-weight: 300; 
line-height: 58px; 
margin-top: 10%; 
margin-left: 3%;
}
   
.car {
float: right;
height: 80%;
width: auto;
margin-top: 10%;
}
  
.right {
width: 50%;
float: right;
height: 100%;
}

  
  
  